.btn {
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  display: inline-block;
  font-weight: $btn-font-weight;
  line-height: $btn-line-height;
  cursor: pointer;
  user-select: none;
  outline: none !important;
  color: $text-color-base;
  border: 1px solid;
  padding: $btn-padding-y $btn-padding-x;
  font-size: $font-size-base;
  border-radius: $btn-border-radius;
  background: #fff;
  border-color: $input-border-color;
}

a.btn {
  @include hover-focus {
    text-decoration: none;
  }
}

//
// Block button
//

.btn-block {
  display: block;
  width: 100%;
}

// Vertically space out multiple block buttons
.btn-block + .btn-block {
  margin-top: $btn-block-spacing-y;
}

// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
  &.btn-block {
    width: 100%;
  }
}
