.table {
  width: 100%;
  max-width: 100%;
  border-spacing: 0;
  border-collapse: inherit;
  background: $table-bg;
  color: $table-text-color;

  td, th {
    padding: .75rem;
    border-style: solid;
    border-color: $table-border-color;
    border-width: 1px 0 0 1px;
  }

  th {
    padding: .75rem;
    font-weight: 600;
    border-bottom-width: 1px;
  }

  tr td:last-child,
  tr th:last-child {
    border-right-width: 1px;
  }

  tbody:last-child tr:last-child {
    td {
      border-bottom-width: 1px;
    }
  }

  thead + tbody tr:first-child td {
    border-top-width: 0;
  }

  &.table-radius {
    tbody:first-child tr:first-child {
      td:first-child {
        border-top-left-radius: $table-border-radius;
      }

      td:last-child {
        border-top-right-radius: $table-border-radius;
      }
    }

    thead:first-child tr:first-child {
      th:first-child {
        border-top-left-radius: $table-border-radius;
      }

      th:last-child {
        border-top-right-radius: $table-border-radius;
      }
    }

    thead + tbody {
      tr:first-child {
        td {
          border-radius: 0;
        }
      }
    }
    tbody:last-child tr:last-child {
      td:first-child {
        border-bottom-left-radius: $table-border-radius;
      }

      td:last-child {
        border-bottom-right-radius: $table-border-radius;
      }
    }
  }

}

.table-col-sort {
  user-select: none;

  .table-col-icon {
    transition: transform .2s, color .3s;
    color: rgba(#FFF, 0);
  }

  .table-col-header {
    margin-right: 5px;
  }

  &:hover {
    cursor: pointer;
    color: $table-sort-active;

    .table-col-icon {
      color: rgba(#000, .4);
    }
  }

  &.active {
    color: $table-sort-active;

    .table-col-icon {
      color: $table-sort-active;
    }
  }

  &.inverse .table-col-icon {
    transform: rotate(180deg);
  }
}
