@mixin button-variant(
  $color,
  $text-color: #FFF,
  $text-active-color: $text-color,
  $lighten-intensity: $btn-lighten-intensity
) {
  background: $color;
  color: $text-color;
  border-color: $color;

  &:hover,
  &.focus {
    border-color: lighten($color, $lighten-intensity);
    background: lighten($color, $lighten-intensity);
  }

  &:hover,
  &:focus {
    color: $text-active-color;
  }

  &:active,
  &.active {
    color: $text-active-color;
    border-color: darken($color, 8%);
    background: darken($color, 8%);
  }
}

@mixin button-outline-variant(
  $color,
  $border-color: lighten($color, 15%),
  $fill: $btn-outline-fill,
  $fill-text-color: #FFF
) {
  background: none;
  border: 1px solid $border-color;
  color: $color;

  @if $fill {
    &:hover {
      background: $color;
      color: $fill-text-color;
    }
  } @else {

    &:focus {
      color: $color;
    }

    &:hover {
      border-color: darken($border-color, 10.5%);
    }

    &:active {
      color: $color;
      background: rgba($color, .05);
    }
  }
}

@mixin button-text-variant($color, $color-active: $color) {
  background: none;
  color: $color;

  // Remove border from .btn
  border-color: transparent;

  &:hover,
  &:focus {
    color: darken($color-active, 8%);
  }

  &:active {
    color: darken($color-active, 12%);
  }
}
